# 最后修改日期：2026-09-09。复制到新服务器 shared/app.env 后填秘密，不覆盖已有 app.env。
BT_PROJECT_KEY='pairpop-bt'
BT_RUNTIME='web-preview'
BT_ENV='staging'
APP_ENV='staging'
HTTP_ADDR='0.0.0.0:23001'
BT_DB_HOST='database-2.c9ie8y6eckdj.ap-northeast-1.rds.amazonaws.com'
BT_DB_PORT='3306'
BT_DB_NAME='linkgamebt'
BT_DB_USER='linkgamebt'
TIKTOK_CLIENT_KEY=''
ENABLE_TIKTOK_LOGIN='false'
ENABLE_TEST_ACCOUNT_LOGIN='true'
ANALYTICS_ENABLED='true'
ANALYTICS_TIMEZONE='Asia/Tokyo'
LOG_LEVEL='info'
CORS_ALLOWED_ORIGINS='https://linkgamebt.bffbond.com,https://jptt-aws.bffbond.com'
SESSION_TTL='720h'
TIKTOK_CLIENT_SECRET=''
ANALYTICS_GM_USERS=''
MYSQL_DSN=''
